.input {
    font-family: inherit;
    width: 20%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: darkgray;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.paragraph {
    color: black;
    font-family: 'Raleway',sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    margin: 0 0 20px;
    text-align: center;
}